@import "tailwindcss";

:root {
  --primary: #76cdc0;
  --on-primary: #1a2d2a;
  --secondary: #282e48;
  --on-secondary: #9baaed;
  --accent: rgb(255, 0, 0);
  --accent-variant: rgb(246, 255, 0);
}

.text-primary {
  color: var(--primary);
}

.text-on-primary {
  color: var(--on-primary);
}

.text-secondary {
  color: var(--secondary);
}

.text-on-secondary {
  color: var(--on-secondary);
}

.text-accent {
  color: var(--accent);
}

.text-accent-variant {
  color: var(--accent-variant);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-on-primary {
  background-color: var(--on-primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-on-secondary {
  background-color: var(--on-secondary);
}

.bg-accent {
  background-color: var(--accent);
}

.bg-accent-variant {
  background-color: var(--accent-variant);
}

body {
  overflow-x: hidden;
}
.slider-container {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: flex-start;
  min-width: 50%;
  max-width: 80%;
  position: relative;
}

.slider-label {
  color: #6b7280;
  font-weight: 600;
  user-select: none;
  cursor: pointer;
}

.slider {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.slider-track {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 8px;
  background-color: #d1d5db;
  border-radius: 9999px;
  transform: translateY(-50%);
  overflow: hidden;
}

.slider-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--primary);
  transition: width 0.2s ease-in-out;
}

.slider-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

.slider-input:disabled {
  cursor: not-allowed;
}

.slider-input:focus + .slider-thumb {
  outline: none;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--primary);
}

.slider-input:disabled + .slider-thumb {
  background-color: #d1d5db;
}

.slider-input:disabled ~ .slider-track {
  background-color: #e5e7eb;
}

.slider-input:disabled ~ .slider-track .slider-fill {
  background-color: #e5e7eb;
}

.slider-thumb {
  position: absolute;
  top: 50%;
  width: 32px;
  height: 32px;
  background-color: var(--primary);
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: translateY(-50%);
  transition: left 0.2s ease-in-out;
}

.slider-thumb-icon {
  width: 16px;
  height: 16px;
  color: var(--primary);
  transition: opacity 0.2s ease-in-out;
  opacity: 0.7;
}

.slider-input[value="100"] + .slider-thumb .slider-thumb-icon {
  opacity: 1;
}

.toggle-switch-container {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.toggle-switch-label {
  color: #6b7280;
  font-weight: 600;
  user-select: none;
  cursor: pointer;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.toggle-switch-input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-switch-label-track {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.toggle-switch-track {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d1d5db;
  border-radius: 9999px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.toggle-switch-input:checked + .toggle-switch-label-track .toggle-switch-track {
  background-color: var(--primary);
}

.toggle-switch-input:disabled
  + .toggle-switch-label-track
  .toggle-switch-track {
  background-color: #e5e7eb;
  cursor: not-allowed;
}

.toggle-switch-input:focus + .toggle-switch-label-track .toggle-switch-track {
  outline: none;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--primary);
}

.toggle-switch-input:checked:focus
  + .toggle-switch-label-track
  .toggle-switch-track {
  background-color: var(--primary);
}

.toggle-switch-thumb {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.toggle-switch-input:checked + .toggle-switch-label-track .toggle-switch-thumb {
  transform: translateX(16px);
}

.toggle-switch-input:disabled
  + .toggle-switch-label-track
  .toggle-switch-thumb {
  background-color: #d1d5db;
}

.toggle-switch-checkmark {
  width: 8px;
  height: 8px;
  color: var(--primary);
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toggle-switch-input:checked
  + .toggle-switch-label-track
  .toggle-switch-thumb
  .toggle-switch-checkmark {
  opacity: 1;
}

button:hover {
  filter: brightness(1.5);
  transition: all 0.3s linear;
}
